{%  extends "base_generic.html" %}

{% block content %}
  <h1>Author: {{ author.first_name }}&nbsp;{{ author.last_name }}</h1>
  <p>{{ author.date_of_birth }}&nbsp;-&nbsp;{% if author.date_of_death %}
                                                {{ author.date_of_death }}
                                            {% else %}<br>
                                            {% endif %}
  </p>
   <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>

    {% for book in book_list %}
      <hr>
        <a href="{{ book.get_absolute_url }}">{{ book }}</a>
        <p>{{ book.summary }}</p>
    {% endfor %}
  </div>
{% endblock %}